<!doctype html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">

<th:block th:fragment="FooterFragment">
    <footer class="py-4 mt-auto bg-white">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0">Copyright &copy; 캡스톤디자인_8조 2025</div></div>
                <div class="col-auto">
                    <a class="a_tag_style small" href="#!">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a class="a_tag_style small" href="#!">Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a class="a_tag_style small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</th:block>

</html>