<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/frag_head :: HeadFragment}"></th:block>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <th:block th:replace="~{fragments/frag_nav :: NavFragment(userId=${userId})}"></th:block>
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-4">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <div class="card shadow border-0 rounded-4 mb-5 p-3">
                        <!-- Contact form-->
                        <div class="rounded-4 py-5 px-2 px-md-5">
                            <div class="text-center mb-5">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-person-fill-exclamation"></i></div>
                                <h1 class="fw-bolder">회원탈퇴</h1>
                                <p class="lead fw-normal text-muted mb-0"></p>
                            </div>
                            <div class="row gx-5 justify-content-center">
                                <div class="row justify-content-center text-danger mb-3 text-center">
                                    <i class="bi bi-info-circle-fill">회원 탈퇴를 진행 하시려면 비밀번호와 이메일 인증이 필요합니다.
                                        <br>비밀번호/이메일 인증은 등록된 회원정보를 기준으로 인증합니다.</i>
                                </div>
                                <div class="col-lg-8 col-xl-8">
                                    <form name="member_delete_form" action="/members/req_delete_member" method="post" onsubmit="return checkField()">
                                        <input type="hidden" name="id" id="userId" th:value="${userId}">
                                        <!--비밀번호, 비밀번호 확인-->
                                        <div class="hr-sect">비밀번호</div>
                                        <div class="row mb-3 justify-content-center">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" type="password" name="password" id="userPassword" placeholder="비밀번호 입력" maxlength="16" required/>
                                                    <label for="userPassword">비밀번호 <span id="pwConfirm"></span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 text-end">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <button type="button" class="btn btn-outline-primary userPassword_CheckBtn" name="password" id="userPassword_CheckBtn" onclick="checkPassword()">비밀번호 확인</button>
                                                    <button type="button" class="btn btn-outline-primary" onclick="reset_tag('userPassword', '비밀번호')"><i class="bi bi-arrow-clockwise"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <!--이메일 인증-->
                                        <div class="hr-sect">이메일</div>
                                        <div class="row mb-3 justify-content-center">
                                            <div class="col-md-4">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" type="text" name="inputCode" id="inputCode" placeholder="인증번호 6자리"
                                                           pattern="^\d{6}$" minlength="1" maxlength="6" title="조건: 숫자 6자리" required/>
                                                    <label for="inputCode">인증번호 <span id="inputCodeConfirm"></span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-7 text-end">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input type="button" class="btn btn-outline-primary inputCode_CheckBtn" value="번호전송" onclick="sendEmail()">
                                                    <input type="button" class="btn btn-outline-primary inputCode_CheckBtn" value="번호확인" onclick="verifyCode()">
                                                    <button type="button" class="btn btn-outline-primary" onclick="reset_tag('inputCode', '이메일 인증번호')"><i class="bi bi-arrow-clockwise"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <button class="btn btn-primary col-8 mx-auto" type="submit">회원탈퇴</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer 영역 fragment -->
<th:block th:replace="~{fragments/frag_footer :: FooterFragment}"></th:block>
<!-- script 영역 fragment -->
<th:block th:replace="~{fragments/frag_script :: ScriptFragment}"></th:block>
<script>
    // 비밀번호 확인 여부
    let PasswordAuthCheck = false;

    // 이메일 전송 여부
    let EmailSend = false;

    // 이메일 인증 여부
    let EmailAuthCheck = false;

    // 다시 작성 버튼 이벤트
    function reset_tag(_id, _name){
        let btn_class = _id +"_CheckBtn" // 비밀번호/인증번호 확인 버튼값 id 저장

        if (window.confirm(_name + '을(를) 다시 작성하시겠습니까?\n입력한 내용은 저장되지 않습니다.'))
        {
            // 다시 작성하기 때문에 인증 여부 초기화
            if (_id === 'userPassword'){
                PasswordAuthCheck = false;
                $('#pwConfirm').text('').css('color', 'black')
            }
            if (_id === 'inputCode'){
                EmailSend = EmailAuthCheck = false;
                $('#inputCodeConfirm').text('').css('color', 'black')
            }
            // 해당 태그 찾아서 값 초기화 시키고 readonly 해제
            let input = document.getElementById(_id);
            input.value = null;
            input.readOnly = false;
            $("#" + _id).css('border-color','black');
            $("." + btn_class).attr("disabled", false);
        }
    }

    // 비밀번호 확인
    function checkPassword() {
        const password = $("#userPassword"); // 사용자가 입력한 비밀번호
        const id = $("#userId").val(); // 로그인한 사용자의 id
        const userPassword_CheckBtn = $("#userPassword_CheckBtn"); // 비밀번호 확인 버튼

        // 비밀번호 칸이 비어있으면 알림
        if (!password.val() || password.val().trim() === '') {
            alert("비밀번호를 입력해주세요.");
            return;
        }

        $.ajax({
            url: "/infoCheck/verifyPassword",
            type: "POST",
            data: {
                "inputId": id,
                "inputPassword": password.val()
            },
            success: function(isPwCorrect) {
                if (isPwCorrect) {
                    alert("비밀번호가 일치합니다.");
                    PasswordAuthCheck = true;
                    $('#pwConfirm').html('<i class="bi bi-check-circle-fill"></i>').css('color', 'green')
                    password.css('border-color','green');
                    password.prop('readonly', true);
                    userPassword_CheckBtn.attr("disabled", true);
                } else {
                    alert("비밀번호가 일치하지 않습니다.");
                    $('#pwConfirm').html('<i class="bi bi-x-circle-fill"></i>').css('color', 'red')
                    password.css('border-color','red');
                    password.focus();
                }
            },
            error: function() {
                alert("비밀번호 확인에 실패했습니다.");
            }
        });
    }

    // 이메일 인증번호 발송
    function sendEmail() {
        // 비밀번호 확인이 완료돼야 이메일 인증 가능
        if(!PasswordAuthCheck){
            alert('비밀번호 확인 후에 이메일 인증이 가능합니다.');
            return;
        }

        const id = $("#userId").val();
        alert("인증번호 전송 중 입니다. 알림창을 닫고 잠시만 기다려주세요.\n(약 3~5초 정도 소요)");

        $.ajax({
            url: "/infoCheck/sendEmail_user",
            type: "POST",
            data: {
                "id": id
            },
            success: function(data) {
                // 이메일 전송 성공
                EmailSend = true; // 이메일 전송 여부 체크
                alert("인증번호가 전송되었습니다.");
            },
            error: function() {
                // 이메일 전송 실패
                alert("인증번호 전송에 실패했습니다.");
            }
        });
    }

    // 이메일 인증번호 확인
    function verifyCode() {
        // 이메일 인증번호를 전송 했는지 확인
        if (!EmailSend){
            alert("인증번호를 전송해주세요.");
            return;
        }

        const inputCode = $("#inputCode"); // 사용자가 입력한 인증번호
        const email_btn = $(".inputCode_CheckBtn");
        if (!inputCode.val() || inputCode.val().trim() === '') { // 인증번호 입력 없이 확인하기를 눌렀을 경우 알림
            alert("인증번호를 입력해주세요.");
            inputCode.css('border-color','red')
            return;
        }

        $.ajax({
            url: "/infoCheck/verifyCode",
            type: "POST",
            data: {
                "inputCode": inputCode.val(),
            },
            success: function(isCodeCorrect) {
                if (isCodeCorrect) {
                    alert("인증번호가 일치합니다.");
                    EmailAuthCheck = true;
                    inputCode.prop('readonly', true);
                    $('#inputCodeConfirm').html('<i class="bi bi-check-circle-fill"></i>').css('color', 'green')
                    inputCode.css('border-color','green');
                    email_btn.attr("disabled", true);

                } else {
                    alert("인증번호가 일치하지 않습니다.");
                    $('#inputCodeConfirm').html('<i class="bi bi-x-circle-fill"></i>').css('color', 'red')
                    inputCode.css('border-color','red');
                    inputCode.focus();
                }
            },
            error: function() {
                alert("인증번호 확인에 실패했습니다.");
            }
        });
    }

    // 데이터 전송 전 필드 검사
    function checkField(){
        if (window.confirm('회원 탈퇴를 진행하시겠습니까?\n탈퇴 후에는 복구가 불가능 합니다.'))
        {
            // 비밀번호 확인, 이메일 인증번호 전송, 이메일 인증번호 확인 완료 여부 검사
            if (PasswordAuthCheck && EmailSend && EmailAuthCheck){
                return true;
            }
            else if (!PasswordAuthCheck && EmailSend && EmailAuthCheck){
                alert('비밀번호 확인을 진행해주세요.');
                return false;
            }
            else if (PasswordAuthCheck && !EmailSend && EmailAuthCheck){
                alert('이메일 인증번호 전송을 진행해주세요.');
                return false;
            }
            else if (PasswordAuthCheck && EmailSend && !EmailAuthCheck){
                alert('이메일 인증번호 확인을 진행해주세요.');
                return false;
            }
            else{
                alert('비밀번호와 이메일 인증을 진행해주세요.');
                return false;
            }
        }
    }
</script>
</body>
</html>