<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/frag_head :: HeadFragment}"></th:block>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <th:block th:replace="~{fragments/frag_nav :: NavFragment(userId=${userId})}"></th:block>
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-4">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <div class="card shadow border-0 rounded-4 mb-5 p-3">
                        <!-- Contact form-->
                        <div class="rounded-4 py-5 px-2 px-md-5">
                            <div class="text-center mb-5">
                                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline"><a href="/pages/index">EmoSync</a></span></h1>
                                <h3 class="fw-bolder">비밀번호 찾기</h3>
                                <p class="lead fw-normal text-muted mb-0"></p>
                            </div>
                            <div class="row gx-5 justify-content-center">
                                <div class="row justify-content-center text-danger mb-3 text-center">
                                    <i class="bi bi-info-circle-fill">임시 비밀번호를 발송을 위해 회원정보에 등록된 이메일로 인증을 진행합니다.</i>
                                </div>
                                <div class="col-lg-8 col-xl-8 px-0">
                                    <form name="email_change_form" action="/infoCheck/sendEmail_pw" method="post" onsubmit="return checkField()">
                                        <input type="hidden" name="id" id="session_Auth" th:value="${session_Auth}">
                                        <div class="row mb-3" style="display: flex; justify-content: center; align-items: center;">
                                            <div class="col-md-4">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" type="text" name="inputCode" id="inputCode" placeholder="인증번호 6자리"
                                                           pattern="^\d{6}$" minlength="1" maxlength="6" title="조건: 숫자 6자리" required/>
                                                    <label for="inputCode">인증번호 <span id="inputCodeConfirm"></span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input type="button" class="btn btn-outline-primary inputCode_CheckBtn" value="번호전송" onclick="sendEmail()">
                                                    <input type="button" class="btn btn-outline-primary inputCode_CheckBtn" value="번호확인" onclick="verifyCode()">
                                                    <button type="button" class="btn btn-outline-primary" onclick="reset_tag('inputCode', '이메일 인증번호')"><i class="bi bi-arrow-clockwise"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <button class="btn btn-primary col-8 mx-auto" type="submit">임시 비밀번호 발송</button>
                                        </div>
                                    </form>
                                    <div class="form-check mt-3 text-center">
                                        <a class="small a_tag_style" href="/members/login">로그인</a>
                                        <span> | </span>
                                        <a class="small a_tag_style" href="/members/find_id">아이디 찾기</a>
                                    </div>
                                    <div class="card-footer bg-white text-center py-3" style="border: none;">
                                        <div class="small"><a class="a_tag_style" href="/members/register">아직 회원이 아니라면 회원가입</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer 영역 fragment -->
<th:block th:replace="~{fragments/frag_footer :: FooterFragment}"></th:block>
<!-- script 영역 fragment -->
<th:block th:replace="~{fragments/frag_script :: ScriptFragment}"></th:block>
<script>
    // 이메일 인증번호 전송 여부
    let EmailSend = false;

    // 이메일 인증 여부
    let EmailAuthCheck = false;

    // 다시 작성 버튼 이벤트
    function reset_tag(_id, _name){
        let btn_class = _id +"_CheckBtn" // 비밀번호/인증번호 확인 버튼값 id 저장

        if (window.confirm(_name + '을(를) 다시 작성하시겠습니까?\n입력한 내용은 저장되지 않습니다.'))
        {
            // 다시 작성하기 때문에 인증 여부 초기화
            if (_id === 'inputCode'){
                EmailSend = EmailAuthCheck = false;
            }
            // 해당 태그 찾아서 값 초기화 시키고 readonly 해제
            let input = document.getElementById(_id);
            input.value = null;
            input.readOnly = false;
            $("#" + _id).css('border-color','black');
            $("." + btn_class).attr("disabled", false);
        }
    }

    // 기존에 저장되어 있는 이메일 주소로 인증번호 발송
    function sendEmail() {
        const id = $("#session_Auth").val();
        // 이전 페이지에서 아이디 입력을 한 상태여야 이메일 인증 가능
        if(id != null){
            alert("인증번호 전송 중 입니다. 알림창을 닫고 잠시만 기다려주세요.\n(약 3~5초 정도 소요)");

            $.ajax({
                url: "/infoCheck/sendEmail_user",
                type: "POST",
                data: {
                    "id": id
                },
                success: function(data) {
                    // 이메일 전송 성공
                    EmailSend = true; // 이메일 전송 여부 체크
                    alert("인증번호가 전송되었습니다.");
                },
                error: function() {
                    // 이메일 전송 실패
                    alert("인증번호 전송에 실패했습니다.");
                }
            });
        }
        else
        {
            alert('로그인 정보를 확인할 수 없습니다.');
            return false;
        }
    }

    // 이메일 인증번호 확인
    function verifyCode() {
        // 이메일 인증번호를 전송 했는지 확인
        if (!EmailSend){
            alert("인증번호를 전송해주세요.");
            return;
        }

        const inputCode = $("#inputCode"); // 사용자가 입력한 인증번호
        const email_btn = $(".inputCode_CheckBtn");
        if (!inputCode.val() || inputCode.val().trim() === '') { // 인증번호 입력 없이 확인하기를 눌렀을 경우 알림
            alert("인증번호를 입력해주세요.");
            inputCode.css('border-color','red')
            return;
        }

        $.ajax({
            url: "/infoCheck/verifyCode",
            type: "POST",
            data: {
                "inputCode": inputCode.val(),
            },
            success: function(isCodeCorrect) {
                if (isCodeCorrect) {
                    alert("인증번호가 일치합니다.");
                    EmailAuthCheck = true;
                    inputCode.prop('readonly', true);
                    inputCode.css('border-color','green');
                    $("#inputCodeConfirm").html('<i class="bi bi-check-circle-fill"></i>').css('color', 'green')
                    email_btn.attr("disabled", true);

                } else {
                    alert("인증번호가 일치하지 않습니다.");
                    inputCode.css('border-color','red');
                    $("#inputCodeConfirm").html('<i class="bi bi-x-circle-fill"></i>').css('color', 'red')
                    inputCode.focus();
                }
            },
            error: function() {
                alert("인증번호 확인에 실패했습니다.");
            }
        });
    }

    // 데이터 전송 전 필드 검사
    function checkField(){
        // 이메일 인증번호 전송, 이메일 인증번호 확인 완료 여부 검사
        if (EmailSend && EmailAuthCheck){
            return true;
        }
        else if (!EmailSend && EmailAuthCheck){
            alert('이메일 인증번호 전송을 진행해주세요.');
            return false;
        }
        else if (EmailSend && !EmailAuthCheck){
            alert('이메일 인증번호 확인을 진행해주세요.');
            return false;
        }
        else{
            alert('이메일 인증을 진행해주세요.');
            return false;
        }
    }
</script>
</body>
</html>