<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/frag_head :: HeadFragment}"></th:block>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <th:block th:replace="~{fragments/frag_nav :: NavFragment(userId=${userId})}"></th:block>
    <!-- Page content-->
    <section class="py-5">
        <div class="container px-4">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <div class="card shadow border-0 rounded-4 mb-5 p-3">
                        <!-- Contact form-->
                        <div class="rounded-4 py-5 px-4 px-md-5">
                            <div class="text-center mb-5">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-person-fill-gear"></i></div>
                                <h1 class="fw-bolder">비밀번호 변경</h1>
                                <p class="lead fw-normal text-muted mb-0"></p>
                            </div>
                            <div class="row gx-5 justify-content-center">
                                <div class="row justify-content-center text-danger mb-3 text-center">
                                    <i class="bi bi-info-circle-fill">비밀번호 변경시 보안을 위해 이메일 인증을 진행합니다.
                                        <br>또한 변경이 완료되면 자동으로 로그아웃 됩니다.</i>
                                </div>
                                <div class="col-lg-8 col-xl-8">
                                    <form name="pw_change_form" action="/members/req_update_password" method="post" onsubmit="return checkField()">
                                        <input type="hidden" name="id" id="userId" th:value="${userId}">
                                        <div class="hr-sect">비밀번호 입력</div>
                                        <!--현재 비밀번호-->
                                        <div class="row mb-3">
                                            <div class="col-md-8">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" type="password" name="currentPassword" id="currentPassword" placeholder="" maxlength="16" required/>
                                                    <label for="currentPassword">현재 비밀번호 <span id="currPwRegexConfirm"></span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--새로운 비밀번호, 비밀번호 확인-->
                                        <div class="row mb-3 justify-content-center">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" type="password" name="newPassword" id="newPassword" placeholder="영문+특문+숫자 조합 8~16자리" oninput="pwRegexCheck()" maxlength="16" required/>
                                                    <label for="newPassword">새로운 비밀번호 <span id="pwRegexConfirm"></span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" type="password" name="newPassword_check" id="newPassword_check" placeholder="비밀번호를 한번 더 적어주세요" oninput="pwEqualCheck()" maxlength="16" required/>
                                                    <label for="newPassword_check">새로운 비밀번호 확인 <span id="pwEqualConfirm"></span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <!--비밀번호 확인, 다시작성 버튼-->
                                        <div class="row mb-3 justify-content-center">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0 text-center">
                                                    <button type="button" class="btn btn-outline-primary newPassword_CheckBtn" id="newPassword_CheckBtn" onclick="verifyPassword()">비밀번호 확인</button>
                                                    <button type="button" class="btn btn-outline-primary" onclick="reset_tag('newPassword', '비밀번호')">다시작성</button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="hr-sect">이메일 인증</div>
                                        <!--이메일 인증-->
                                        <div class="row mb-3 justify-content-center">
                                            <div class="col-md-4">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" type="text" name="inputCode" id="inputCode" placeholder="인증번호 6자리"
                                                           pattern="^\d{6}$" minlength="1" maxlength="6" title="조건: 숫자 6자리" required/>
                                                    <label for="inputCode">인증번호 <span id="inputCodeConfirm"></span></label>
                                                </div>
                                            </div>
                                            <div class="col-md-7 text-center">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input type="button" class="btn btn-outline-primary inputCode_CheckBtn" value="번호전송" onclick="sendEmail()">
                                                    <input type="button" class="btn btn-outline-primary inputCode_CheckBtn" value="번호확인" onclick="verifyCode()">
                                                    <button type="button" class="btn btn-outline-primary" onclick="reset_tag('inputCode', '이메일 인증번호')"><i class="bi bi-arrow-clockwise"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <button class="btn btn-primary col-8 mx-auto" type="submit">변경하기</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer 영역 fragment -->
<th:block th:replace="~{fragments/frag_footer :: FooterFragment}"></th:block>
<!-- script 영역 fragment -->
<th:block th:replace="~{fragments/frag_script :: ScriptFragment}"></th:block>
<script>
    // 현재 비밀번호 일치 여부
    let currentPwEqual = false;

    // 새로운 비밀번호 정규식 조건 충족 여부
    let newPwCheckRegex = false;

    // 새로운 비밀번호가 현재 비밀번호와 동일한지 여부(동일하면 안됨)
    let newPwEqualCurrentPw = false;

    // 새로운 비밀번호 일치 여부
    let newPwCheckEqual = false;

    // 이메일 전송 여부
    let EmailSend = false;

    // 이메일 인증 여부
    let EmailAuthCheck = false;

    // 다시 작성 버튼 이벤트
    function reset_tag(_id, _name){
        let btn_class = _id +"_CheckBtn" // 비밀번호/인증번호 확인 버튼값 id 저장

        if (window.confirm(_name + '을(를) 다시 작성하시겠습니까?\n입력한 내용은 저장되지 않습니다.'))
        {
            // 다시 작성하기 때문에 인증 여부 초기화
            if (_id === 'newPassword'){
                currentPwEqual = false;
                newPwCheckEqual = false;
                newPwCheckRegex = false;

                // 현재, 새로운 비밀번호 초기화
                const currentPw = $('#currentPassword');
                const newPw = $('#newPassword');
                const newPw_Check = $('#newPassword_check');
                const newPw_CheckBtn = $('#newPassword_CheckBtn');

                currentPw.prop('readonly', false);
                currentPw.val("");
                currentPw.css('border-color','black');

                newPw.prop('readonly', false);
                newPw.val("");
                newPw.css('border-color','black');

                newPw_Check.attr("disabled", false);
                newPw_Check.val("");
                newPw_Check.css('border-color','black');

                newPw_CheckBtn.attr("disabled", false);
                $('#currPwRegexConfirm').text('').css('color', 'black')
                $('#pwEqualConfirm').text('').css('color', 'black')
                $('#pwRegexConfirm').text("").css('color', 'black')
            }
            if (_id === 'inputCode'){ // 이메일 인증 초기화
                EmailSend = EmailAuthCheck = false;

                let input = document.getElementById(_id);
                input.value = null;
                input.readOnly = false;
                $("#" + _id).css('border-color','black');
                $("." + btn_class).attr("disabled", false);
            }

        }
    }


    // 새로운 비밀번호 정규식 검사 & 현재 비밀번호와 같은지 검사
    function pwRegexCheck(){
        const newPassword = $('#newPassword');
        const pwRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*=+~])[a-zA-Z\d!@#$%^&*=+~]{8,16}$/;
        if(pwRegex.test(newPassword.val())){
            $('#pwRegexConfirm').html('<i class="bi bi-check-circle-fill"></i>').css('color', 'green')
            newPassword.css('border-color','green');
            newPwCheckRegex = true;
        }
        else{
            $('#pwRegexConfirm').html('<i class="bi bi-x-circle-fill"></i>').css('color', 'red')
            newPassword.css('border-color','red');
            newPwCheckRegex = false;
        }

        if(newPassword.val() === $('#currentPassword').val()){
            $('#pwRegexConfirm').html('<i class="bi bi-x-circle-fill"></i>').css('color', 'red')
            newPassword.css('border-color','red');
            newPwEqualCurrentPw = false;
        }else{
            newPwEqualCurrentPw = true;
        }
    }

    // 새로운 비밀번호 확인
    function pwEqualCheck(){

        const newPassword_check = $('#newPassword_check');
        if($('#newPassword').val() === newPassword_check.val()){
            $('#pwEqualConfirm').html('<i class="bi bi-check-circle-fill"></i>').css('color', 'green')
            newPassword_check.css('border-color','green');
            newPwCheckEqual = true;
        }else{
            $('#pwEqualConfirm').html('<i class="bi bi-x-circle-fill"></i>').css('color', 'red')
            newPassword_check.css('border-color','red');
            newPwCheckEqual = false;
        }
    }

    // 현재 비밀번호 확인
    function verifyPassword(){
        const password = $("#currentPassword"); // 사용자가 입력한 현재 비밀번호
        const id = $("#userId").val(); // 로그인한 사용자의 id
        const newPw = $('#newPassword');
        const newPw_Check = $('#newPassword_check');

        // 비밀번호 칸이 비어있으면 알림
        if (!password.val() || password.val().trim() === '') {
            alert("현재 비밀번호를 입력해주세요.");
            password.focus();
            return;
        }
        if (!newPw.val() || newPw.val().trim() === '') {
            alert("새로운 비밀번호를 입력해주세요.");
            newPw.focus();
            return;
        }
        if (!newPw_Check.val() || newPw_Check.val().trim() === '') {
            alert("새로운 비밀번호 확인을 입력해주세요.");
            newPw_Check.focus();
            return;
        }
        if(password.val() === newPw.val()){
            alert('현재 비밀번호와 새로운 비밀번호가 동일합니다.');
            newPw.focus();
            return;
        }

        $.ajax({
            url: "/infoCheck/verifyPassword",
            type: "POST",
            data: {
                "inputId": id,
                "inputPassword": password.val()
            },
            success: function(isPwCorrect) {
                if (isPwCorrect) {
                    currentPwEqual = true;
                    $('#currPwRegexConfirm').html('<i class="bi bi-check-circle-fill"></i>').css('color', 'green')
                    if(!final_pw_check()){return false;}
                } else {
                    alert("현재 비밀번호가 일치하지 않습니다.");
                    password.css('border-color','red');
                    $('#currPwRegexConfirm').html('<i class="bi bi-x-circle-fill"></i>').css('color', 'red')
                    password.focus();
                }
            },
            error: function() {
                alert("비밀번호 확인에 실패했습니다.");
            }
        });
    }

    // 최종적으로 현재/새로운 비밀번호 확인
    function final_pw_check(){
        const password = $("#currentPassword"); // 사용자가 입력한 현재 비밀번호
        const newPassword = $('#newPassword');
        const newPassword_check =  $('#newPassword_check');
        const newPassword_CheckBtn = $('#newPassword_CheckBtn');

        // 현재 비밀번호 and 새로운 비밀번호 검증이 완료된 경우
        if(currentPwEqual && newPwCheckEqual && newPwCheckRegex){
            alert("비밀번호 확인이 완료되었습니다.");
            password.css('border-color','green');
            password.prop('readonly', true);

            newPassword.prop('readonly', true);
            newPassword.css('border-color','green');

            newPassword_check.attr("disabled", true);
            newPassword_check.css('border-color','green');

            newPassword_CheckBtn.attr("disabled", true);
            return true;
        }
        else if(currentPwEqual && !newPwCheckEqual && newPwCheckRegex){
            alert('새로운 비밀번호가 일치하지 않습니다.');
            newPassword.css('border-color','red');
            newPassword_check.css('border-color','red');
            newPassword.focus();
            return false;
        }
        else if(currentPwEqual && newPwCheckEqual && !newPwCheckRegex){
            alert('새로운 비밀번호의 조건을 충족시키지 못했습니다.');
            newPassword.css('border-color','red');
            newPassword_check.css('border-color','red');
            newPassword.focus();
            return false;
        }
        else{
            alert('비밀번호 확인을 진행해주세요.');
            password.css('border-color','red');
            newPassword.css('border-color','red');
            newPassword_check.css('border-color','red');
            return false;
        }
    }

    // 이메일 인증번호 발송
    function sendEmail() {
        // 비밀번호 확인이 완료돼야 이메일 인증 가능
        if(currentPwEqual && newPwCheckEqual && newPwCheckRegex){
            const id = $("#userId").val();
            alert("인증번호 전송 중 입니다. 알림창을 닫고 잠시만 기다려주세요.\n(약 3~5초 정도 소요)");

            $.ajax({
                url: "/infoCheck/sendEmail_user",
                type: "POST",
                data: {
                    "id": id
                },
                success: function(isSend) {
                    if(isSend){
                        // 이메일 전송 성공
                        EmailSend = true; // 이메일 전송 여부 체크
                        alert("인증번호가 전송되었습니다.");
                    }
                    else{
                        // 이메일 전송 실패(이메일 주소 없음)
                        EmailSend = false; // 이메일 전송 여부 체크
                        alert("회원정보에 이메일 주소가 존재하지 않습니다.");
                    }
                },
                error: function() {
                    // 이메일 전송 실패
                    alert("인증번호 전송에 실패했습니다.");
                }
            });
        }
        else
        {
            alert('비밀번호 확인을 진행해주세요.');
            return false;
        }
    }

    // 이메일 인증번호 확인
    function verifyCode() {
        // 이메일 인증번호를 전송 했는지 확인
        if (!EmailSend){
            alert("인증번호를 전송해주세요.");
            return;
        }

        const inputCode = $("#inputCode"); // 사용자가 입력한 인증번호
        const email_btn = $(".inputCode_CheckBtn");
        if (!inputCode.val() || inputCode.val().trim() === '') { // 인증번호 입력 없이 확인하기를 눌렀을 경우 알림
            alert("인증번호를 입력해주세요.");
            inputCode.css('border-color','red')
            return;
        }

        $.ajax({
            url: "/infoCheck/verifyCode",
            type: "POST",
            data: {
                "inputCode": inputCode.val(),
            },
            success: function(isCodeCorrect) {
                if (isCodeCorrect) {
                    alert("인증번호가 일치합니다.");
                    EmailAuthCheck = true;
                    inputCode.prop('readonly', true);
                    $('#inputCodeConfirm').html('<i class="bi bi-check-circle-fill"></i>').css('color', 'green')
                    inputCode.css('border-color','green');
                    email_btn.attr("disabled", true);

                } else {
                    alert("인증번호가 일치하지 않습니다.");
                    $('#inputCodeConfirm').html('<i class="bi bi-x-circle-fill"></i>').css('color', 'red')
                    inputCode.css('border-color','red');
                    inputCode.focus();
                }
            },
            error: function() {
                alert("인증번호 확인에 실패했습니다.");
            }
        });
    }

    // input 태그 빈칸 검사
    function checkField(){
        // 빈칸 검사
        let inputs = document.pw_change_form;

        try{
            if(!inputs.currentPassword.value){	//
                alert("현재 비밀번호를 입력하세요.");
                $('#currentPassword').css('border-color','red');
                return false;	// 이동 금지.
            }
            if(!inputs.newPassword.value){	//
                alert("새로운 비밀번호를 입력하세요.");
                $('#newPassword').css('border-color','red');
                return false;	// 이동 금지.
            }
            if(!inputs.newPassword_check.value){
                alert("비밀번호 확인을 입력하세요");
                $('#newPassword_check').css('border-color','red');
                return false;
            }
            if(inputs.newPassword.value !== inputs.newPassword_check.value){
                alert("비밀번호가 일치하지 않습니다.");
                $('#newPassword').css('border-color','red');
                $('#newPassword_check').css('border-color','red');
                return false;
            }
            if(!inputs.inputCode.value){
                alert("인증번호를 입력하세요");
                $('#inputCode').css('border-color','red');
                return false;
            }
            // 비밀번호 인증, 이메일 인증이 전부 완료된 경우에만 true
            if(currentPwEqual && newPwCheckEqual && newPwCheckRegex && newPwEqualCurrentPw && EmailSend && EmailAuthCheck){
                return true;
            }
            else {
                alert('비밀번호 인증, 이메일 인증을 전부 진행해주세요.');
                return false;
            }
        }
        catch (error){
            alert(error);
            return false;
        }
    }
</script>
</body>
</html>